<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
	<meta charset="UTF-8">
	<title>ML Regression</title>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
	<style>
		body {
			background-image: url(https://cdn.pixabay.com/photo/2020/04/25/12/14/circle-5090539_960_720.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			color: rgb(255, 255, 255);

			font-weight: 700;
		}

		::placeholder {
			color: rgb(141, 129, 129);
		}

		.container {
			margin-top: 8%;
		}
		label{
			text-align: left;
			float: left;
		}

			.wrapper {
    padding: 44px;
    border-radius: 12px;
    background: rgb(0 0 0 / 75%);
}
	</style>
</head>

<body>
	<div>
		<img src="" alt="">
	</div>
	<div class="container">
		<div class="wrapper">
		<div class="login mb-4">
			<h1 class="text-center" style="font-family:Orbitron ; font-size: 38px;">Boston House Price Prediction
			</h1>
			
		</div>

		<div class="row text-center mt-5">
			<form action="{{ url_for('predict')}}" method="post">
				<div class="row mt-2">
					<div class="col-2">
						<label for="">per capita crime rate by town :</label>
					</div>
					<div class="col-2">
						<input  type="number" name="CRIM" placeholder="CRIM", required="required"/>
					</div>
					<div class="col-2">
						<label for="">residential land zoned:</label>
					</div>
					<div class="col-2">
						<input type="number" name="ZN" required="required" max="99"  min="0"/>

					</div>
					<div class="col-2">
						<label for="">Sorumluluk / Görev :</label>
					</div>
					<div class="col-2">
						<input type="number" name="INDUS" required="required"  max="99" min="0"/>

					</div>
				</div>

				<div class="row mt-2">
					<div class="col-2">
						<label for="">Fırsat / Fayda :</label>
					</div>
					<div class="col">
						<input type="number" name="Fırsat / Fayda" required="required"  max="99" min="0"/>

					</div>
					<div class="col-2">
						<label for="">Aile :</label>
					</div>
					<div class="col">
						<input type="number" name="Aile" required="required" max="99" min="0"/>

					</div>
					<div class="col-2">
						<label for="">Sosyal Kontak :</label>
					</div>
					<div class="col">
						<input type="number" name="Sosyal Kontak" required="required" max="99" min="0"/>

					</div>

				</div>

				<div class="row mt-2">
					<div class="col-2">
						<label for="">Takdir Edilme :</label>
					</div>
					<div class="col">
						<input type="number" name="Takdir Edilme" required="required" max="99" min="0"/>

					</div>
					<div class="col-2">
						<label for="">Güvende Olma :</label>
					</div>
					<div class="col">
						<input type="number" name="Güvende Olma" required="required" max="99"  min="0"/>

					</div>
					<div class="col-2">
						<label for="">Aktiflik :</label>
					</div>
					<div class="col">
						<input type="number" name="Aktiflik" required="required" max="99" min="0"/>

					</div>
				</div>

				<div class="row mt-2">
					<div class="col-2">
						<label for="">Adalet :</label>
					</div>
					<div class="col">
						<input type="number" name="Adalet" required="required" max="99" min="0"/>

					</div>
					<div class="col-2">
						<label for="">Analitik :</label>
					</div>
					<div class="col">
						<input type="number" name="Analitik" required="required" max="99" min="0"/>

					</div>
					<div class="col-2">
						<label for="">Samimi Ortam :</label>
					</div>
					<div class="col">
						<input type="number" name="Samimi Ortam" required="required" max="99" min="0"/>

					</div>
				</div>
				<div class="row mt-2">
					<div class="col-2">
						<label for="">Takım :</label>
					</div>
					<div class="col">
						<input type="number" name="Takım" required="required" max="99" min="0"/>

					</div>
					<div class="col-2">
						<label for="">İkna Etme :</label>
					</div>
					<div class="col">
						<input type="number" name="İkna Etme" required="required" max="99" min="0"/>

					</div>
					<div class="col-2">
						<label for="">Stres / İş Yükü :</label>
					</div>
					<div class="col">
						<input type="number" name="Stres / İş Yükü" required="required" max="99" min="0"/>

					</div>

				</div>


				<div class="row mt-5">
					<div class="col">
						<button type="submit" class="btn btn-primary">Hesapla</button>

					</div>

				</div>
			</form>

			<div class="footer mt-5">
				<div class="row mt-5">
					<h2 class="text-center" style="font-family:Orbitron; font-size: 25px;">Sonuç 1 ise çalısır, 0 ise
						ayrılır
					</h2>
					<h2 class="mt-3" style="font-family:Orbitron; font-size: 23px;">
						{{ prediction_text }}

					</h2>
				</div>
				<div class="row mt-5">
					<h3 class="text-center" style="font-family:Orbitron ;font-size: 16px;">Created by DR.MURAT SIMSEK

					</h3>
				</div>
			</div>


		</div>
		<!-- Main Input For Receiving Query to our ML -->
		</div>

	</div>

	<br>
	<br>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>

</html>